<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StationManager.Properties.Settings>
            <setting name="MySQL_IP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MySQL_Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MySQL_Login" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySQL_Pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQL_DBName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="SQL_DBPath" serializeAs="String">
                <value />
            </setting>
        </StationManager.Properties.Settings>
    </userSettings>
  <runtime>

  </runtime>
</configuration>